#playback Button {
  min-width: 100px;
  min-height: 100px;
}

#playback Label {
  padding-top: 0px;
  padding-bottom: 0px;
}

#playback #track-name {
  color: white;
  font-size: 30px;
}

#playback #artist-name {
  color: rgb(192, 192, 192);
  font-size: 25px;
}
