TrackRow {
    padding: 10px 0px;
}
TrackRow:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

Label {
    padding: 0px;
}

#track-name {
    color: white;
    font-size: 30px;
}

#artist-name {
    color: rgb(192, 192, 192);
    font-size: 25px;
}

#track-duration {
    color: rgb(192, 192, 192);
    font-size: 25px;
}
